@mixin brk-pt{
  
    @media #{$brkpoint-md} { 
    	@content; 
    }
}

@mixin btn{
	width:$content-width-small;
	margin:2.5%;
	padding:10px;
	border:none;
	border-radius:3px;
	color:white;
	@content;
}

@mixin flex{
	display: flex;
	flex-direction:row;
    justify-content: center;
}

@mixin grid{
	display: grid;
  	grid-gap: 20px;
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}