/**************************/
/*        BUTTONS         */
/**************************/
.grid__col--12 [class^="btn"]{
	@include btn {
		@include brk-pt {
		width:17%;
		margin:auto;
		margin-left:2vw;

		}
	}
	
}
.form{
	& .btn--default{
		@include btn;	
	}
}