//==============================================================//
//GRID SETTINGS                                                 //
//==============================================================//
.container{
	@include grid;
}
[class^="grid__col"]{
    margin:1%;
    padding:5px;
    border:none;
    border-radius:3px;
    &.theme__colors{
            text-align: center;
            color:white;
           
            
        }

}

.grid__row{
	display:block;
    
    @include brk-pt {
        @include flex;  

	}
}






