/**************************/
/*         IMAGES         */
/**************************/
.img--logo{
	display:block;
	margin:10% auto;
}
.img--frame {
    width: 95%;
    padding: 2.5%;
    border: 1px solid $text-color-grey;
}
.img--avatar{
	display:block;
	width:250px;
	margin:5% auto;
}